*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background:#D3D3D3 ; */
}



.main{
  display: flex;
  height: 100vh; /* 100% of the viewport height */
   background:#D3D3D3 ;
}

.left-pannel{
  flex: 0 0 65%; /* Flex basis is 60% of the container width */
  /* background-color: #f0f0f0; Adjust as needed */
}

.right-pannel{
  flex: 0 0 35%; /* Flex basis is 40% of the container width */
  /* background-color: #e0e0e0; Adjust as needed */
}

/* You can add additional styling as needed */
